<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <article>
      <h2><%= message.user %></h2>
      <p><%= message.text %></p>
      <small><%= message.added %></small>
    </article>

    <p><a href="/">Back to all messages</a></p>
  </body>
</html>
